@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *:focus-visible {
    box-shadow: none;
    outline: 3px solid #3895ff;
    outline-offset: 2px;
  }

  .btn {
    @apply mt-2 h-10 rounded-lg px-6 py-2 transition ease-in-out;
  }

  .marketing {
    @apply rounded-full;
  }

  .action-btn {
    @apply btn bg-action-background text-action-text hover:bg-action-background-hover;
  }

  .action-inverse-btn {
    @apply btn bg-action-text text-text-inverse hover:text-action-link-text hover:shadow-xl;
  }

  .action-secondary-btn {
    @apply btn bg-action-secondary-background text-action-secondary-text hover:bg-action-secondary-background-hover hover:shadow-xl;
  }

  .action-link {
    @apply text-action-link-text;
  }

  .app-grid {
    @apply grid h-screen w-screen overflow-hidden;
    grid-template-areas: 'server-bar side-bar feature';
    grid-template-columns: 3.75rem 15.5rem 1fr;
  }

  .server-bar {
    @apply bg-surface-400 p-2;
    grid-area: server-bar;
  }

  .side-bar {
    @apply bg-surface-200 p-2;
    grid-area: side-bar;
  }

  .feature {
    @apply bg-surface-100 pe-2 ps-2;
    grid-area: feature;
  }
}
